*,*::after,*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 14px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 16px;
  width: 100%;
}

.Mobile-Nav {
  display: none;
}

.logo {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 3em;
  z-index: 1;
  color: #fff;
}
.nav-list {
  position: absolute;
  list-style: none;
  right: 3%;
  display: flex;
  justify-content: space-between;
  min-width: 45%;
  width: 63%;
  top: 5%;
  background-color: rgb(31, 31, 59);
  padding: 1em;
  z-index: 100;
}
.nav-item {
  text-decoration: none;
  color: #fff;
}
span {
  margin-left: .3em;
}
span:hover {
  text-decoration: underline #fff 1px;
}
.background-home {
  position: absolute;
  background: url(/src/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.home-text1 {
  letter-spacing: .35em;
  position: absolute;
  width: 30%;
  color: #fff;
  bottom: 50%;
  left: 10%;
  font-size: .8em;
}
.home-text2 {
  letter-spacing: .4em;
  position: absolute;
  width: 30%;
  color: #fff;
  bottom: 38%;
  font-size: 3.8rem;
  left: 10%;
}
.home-text3 {
  position: absolute;
  width: 40%;
  color: #fff;
  bottom: 27%;
  left: 10%;
  font-size: .8em;
  text-align: justify;
}
.home-circle {
  background-color: #fff;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  position: absolute;
  right: 13%;
  bottom: 32%;
}
.home-circle-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-weight: 500;
}
.background-destination {
  position: absolute;
  background: url(/src/Component/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.destination-text1 {
  letter-spacing: .35em;
  position: absolute;
  width: 30%;
  color: #fff;
  bottom: 50%;
  left: 10%;
  font-size: .8em;
}
.destination-text2 {
  letter-spacing: .4em;
  position: absolute;
  width: 30%;
  color: #fff;
  bottom: 38%;
  font-size: 3.8rem;
  left: 10%;
}
.destination-text3 {
  position: absolute;
  width: 40%;
  color: #fff;
  bottom: 27%;
  left: 10%;
  font-size: .8em;
  text-align: justify;
}
.destination-circle {
  background-color: #fff;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  position: absolute;
  right: 13%;
  bottom: 32%;
}
.destination-circle-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-weight: 500;
}
@media screen and (max-width:650px) {
  html {
    font-size: 13px;
    width: 100%;
  }
  
  .Mobile-Nav {
    display: flex;
  }
  .Desktop-nav {
    display: none;
  }
  .harm {
    position: absolute;
    right: 4%;
    cursor: pointer;
    top: 6%;
    z-index: 100;
    color: #fff;
  }
  .nav-list {
    position: absolute;
    list-style: none;
    left: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60%;
    width: 65%;
    top: 5%;
    background-color: rgb(31, 31, 59);
    padding: 1em;
    z-index: 1000;
  }
  .nav-item {
    text-decoration: none;
    color: #fff;
    height: 100%;
  }
  .background-destination {
    position: absolute;
    background-image: url(/src/Component/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .destination-text1 {
    letter-spacing: .35em;
    position: absolute;
    width: 100%;
    color: #fff;
    top: -8%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
  }
  .destination-text2 {
    letter-spacing: .35em;
    position: absolute;
    width: 100%;
    color: red;
    top: -6%;
    left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
  }
  .destination-text3 {
    top: 10%;
    position: absolute;
    width: 80%;
    color: #fff;
    font-size: .9em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .destination-circle {
    background-color: #fff;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 24%;
    left: 35%;
  }
  .destination-circle-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-weight: 500;
  }
  .background-home {
    position: absolute;
    background-image: url(/src/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .home-text1 {
    letter-spacing: .35em;
    position: absolute;
    width: 100%;
    color: #fff;
    top: -8%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
  }
  .home-text2 {
    letter-spacing: .35em;
    position: absolute;
    width: 100%;
    color: red;
    top: -6%;
    left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
  }
  .home-text3 {
    top: 10%;
    position: absolute;
    width: 80%;
    color: #fff;
    font-size: .9em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-circle {
    background-color: #fff;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 24%;
    left: 35%;
  }
  .home-circle-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-weight: 500;
  }
}