* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: deeppink;
}
nav {
    position: fixed;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav ul li {
    display: block;
    text-transform: uppercase;
    line-height: 2;
    font-size: 1em;
    padding-left: 18%;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: .9em;
}
nav ul li:hover {
    color: dimgrey;
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
    color: #262626;
    padding: 5em;
    overflow: auto;
    transition: .2 ease;
}
.tog-btn {
    left: 1em;
    top: 1em;
    width: 1.9em;
    height: .8em;
    position: fixed;
    z-index: 2;
    cursor: pointer;
}
.fa-times {
    display: none;
}
@media screen and (orientation:portrait) {
    .container {
        padding: 4em 1em;
    }
}
.container a{
    color: #00c7be;
}
.container p {
    padding-bottom: 1em;
}
@media screen and (orientation:portrait) {
    nav.active + .container {
        transform: translateX(35%) scale(0.8);
        box-shadow: 0 0 30px 5px rgba(38, 38, 38, .3);
    }
}

@media screen and (orientation:landscape) {
    nav.active + .container {
        transform: translateX(35%) scale(0.8);
        box-shadow: 0 0 30px 5px rgba(38, 38, 38, .3);
    }
}
.fa-times .active {
